.body {
  background-image: url(images/inAppBackground-phone.png);
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  margin: 0;
  background-size: cover;
}
/*This section is for the package pop up*/
.popup-window {
  background-color: rgb(255, 255, 255, 0.5); /*Frosted background*/
  backdrop-filter: blur(40px);
  height: 533px;
  border-radius: 15px;
  margin: 1.7rem;
  margin-top: 12rem;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.2);
  border: white solid 3px;
}
.popup-window__grid {
  /*Grid created with help from websites: geeksforgeeks and developer mozilla*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 10px;
}
.popup-window__close-button {
  background-color: #77d3f6;
  border-radius: 10px;
  margin-left: 16rem;
  margin-top: 0.5rem;
}
.popup-window__titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-window__close-button--packages {
  background-color: #77d3f6;
  border-radius: 10px;
  margin-left: 17.5rem;
  margin-top: 0.5rem;
}
.popup-window__h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #0a2e38;
}
.popup-window__h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #0a2e38;
  margin-left: 12px;
}
.popup-window__package-1 {
  background-color: #1abbe7;
  border-radius: 10px;
  height: 75px;
  grid-column: 1;
  grid-row: 1;
}
.popup-window__package-2 {
  background-color: #1abbe7;
  border-radius: 10px;
  height: 75px;
  grid-column: 1;
  grid-row: 2;
}
.popup-window__package-3 {
  background-color: #1abbe7;
  border-radius: 10px;
  height: 75px;
  grid-column: 1;
  grid-row: 3;
}
.popup-window__package__arrow {
  height: 24px;
  grid-column: 1;
  align-self: center;
  justify-self: center;
}
.popup-window__package__redirect {
  text-decoration: none;
  color: #e1f9ff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.popup-window__label {
  color: #e1f9ff;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  margin-top: 1.5rem;
  overflow: hidden; /*keeps the text on one line*/
  white-space: nowrap; /*found help with from the website geeksforgeeks*/
  font-size: 24;
}

.popup-window__package__box {
  height: 35px;
  grid-column: 3/3;
  align-self: center;
  justify-self: center;
}
/*This section is for the location pop up screen*/
.popup-window--location {
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(40px);
  height: 500px;
  border-radius: 15px;
  margin: 2.5rem;
  margin-top: 12rem;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.2);
  border: white solid 3px;
}
.popup-window__map {
  height: 300px;
  width: 290px;
}
.popup-window__h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #0a2e38;
}
.popup-window__address--extended {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #0a2e38;
}
@media only screen and (min-width: 410px) {
  .popup-window__close-button--packages {
    margin-left: 20rem;
  }
  .popup-window__close-button {
    margin-left: 20rem;
  }
  .popup-window--location {
    margin: 1.7rem;
    margin-top: 12rem;
  }
  .popup-window__map {
    width: 350px;
  }
}
/* @media only screen and (min-width: 360px) {
  .popup-window__close-button--packages {
    margin-left: 16.5rem;
  }
  .popup-window__close-button {
    margin-left: 16.5rem;
  }
  .popup-window--location {
    margin: 1.7rem;
    margin-top: 12rem;
  }
  .popup-window__map {
    width: 300px;
  }
} */ /*Worked to make it more responsive for this size but unfortunately it messed up the rest of the code even with a max added*/
@media only screen and (min-width: 600px) {
  .body {
    background-image: url(images/inAppBackground-tablet.png);
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    margin: 0;
    background-size: cover;
  }
  /*This section is for the package screens*/
  .popup-window {
    width: 834px;
    height: 924px;
    margin-left: 3.5rem;
    margin-top: 16rem;
    padding: 2rem;
  }
  .popup-window__h1 {
    font-size: 36px;
  }
  .popup-window__h2 {
    font-size: 32px;
  }
  .popup-window__package-1 {
    height: 100px;
  }
  .popup-window__package-2 {
    height: 100px;
  }
  .popup-window__package-3 {
    height: 100px;
  }
  .popup-window__close-button--packages {
    width: 40px;
    height: 42px;
    margin-left: 48rem;
  }
  .popup-window__package__arrow {
    width: 55px;
    height: 55px;
  }
  .popup-window__package__box {
    width: 50px;
    height: 50px;
  }
  .popup-window__label {
    font-size: 36px;
  }
  /*This section is for the location pop up*/
  .popup-window--location {
    width: 834px;
    height: 924px;
    margin-left: 3.5rem;
    margin-top: 16rem;
    padding: 2rem;
  }
  .popup-window__close-button {
    width: 40px;
    height: 42px;
    margin-left: 48rem;
  }
  .popup-window__map {
    height: 600px;
    width: 800px;
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .popup-window__address--extended {
    font-size: 32px;
  }
}
@media only screen and (min-width: 1300px) {
  /*landscape mode*/
  /*This section is for the package pop up screen*/
  .popup-window {
    margin-left: 15rem;
  }
  .popup-window--location {
    margin-left: 15rem;
  }
}
