.language-select {
  color: #12a0d6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.language-select__country {
  font-family: Arial, Helvetica, sans-serif;
}
.start-menu__logIn {
  font-family: Arial, Helvetica, sans-serif;
}
.start-menu__register {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(images/pattern-phone-two.png);
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  margin: 0;
  background-size: cover;
}
.logo {
  height: 50px;
  block-size: 6%;
  margin-top: 5.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.language-select {
  /*Default language selector for all phone screens*/
  color: #12a0d6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 0.5rem;
}
.start-menu {
  /*Creating the frosted background*/
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(40px);
  height: 156px;
  border-radius: 15px;
  margin: 2.5rem;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.2);
  border: white solid 3px;
  display: flex;
  flex-direction: column;
}
.start-menu__ul {
  text-decoration: none;
  list-style: none; /*Removes the bulletpoints of the UL*/
  display: grid; /* Grid for button gaps*/
  gap: 15px;
  padding: 0px;
}
.start-menu__link--blue {
  background-color: #1abbe7;
  height: 49px;
  border-radius: 10px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center; /*centres the text*/
  align-items: center;
}
.start-menu__link--clear {
  border: #0a5064 solid 2px;
  height: 49px;
  border-radius: 10px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center; /*Centres the text inside the link*/
  align-items: center;
}
.start-menu__logIn {
  text-decoration: none; /*Removes underline from links*/
  color: #e1f9ff;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.start-menu__register {
  text-decoration: none; /*Removes underline from links*/
  color: #0a5064;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.start-menu__link--blue:active {
  background-color: #13aad3;
}
.start-menu__link--clear:active {
  background-color: #1a7690;
  opacity: 20%;
}
/*This section is for the log in and registration screen*/
.log-in {
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(40px);
  height: 275px;
  border-radius: 15px;
  margin: 2.5rem;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.2);
  border: white solid 3px;
  gap: 1rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log-in__phone-input {
  /*Den default input styling*/
  height: 62px;
  border-radius: 10px;
  border: #0a5064 solid 2px;
  background-color: #bae7f7; /*background colour is changed from figma design, as the opacity affects the border as well*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #0a5064;
  transform: scale(1);
}
.log-in__pin-input {
  height: 62px;
  border-radius: 10px;
  border: #0a5064 solid 2px;
  background-color: #bae7f7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #0a5064;
}
/*Active state for phone and pin inputs*/
.log-in__phone-input:active {
  background-color: #9adbf3;
}
.log-in__pin-input:active {
  background-color: #9adbf3;
}
.log-in__pin-input::placeholder {
  color: #0a5064;
  opacity: 50%;
  text-align: center;
}
.log-in__phone-input::placeholder {
  color: #0a5064;
  opacity: 50%;
  text-align: center;
}
.log-in__btn-label {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #e1f9ff;
  text-decoration: none;
  height: 55px;
  background-color: #f68c47;
  border-radius: 30px;
  text-align: center; /*helps centering the text inside the anchor button*/
  line-height: 50.5px;
  width: 150px;
}
.log-in_btn-label:active {
  color: #f47932;
}
.log-in__pin__label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.log-in__label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.log-in__pin-forgot-label {
  color: #0a5064;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-bottom: 15px;
  padding-top: 5px;
}
/*This section is for the send code screen*/

/*This section is for the choose pin screen*/
.choose-pin {
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(40px);
  height: 275px;
  border-radius: 15px;
  margin: 2.5rem;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.2);
  border: white solid 3px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.choose-pin__label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #0a5064;
  padding-top: 1rem;
}
.choose-pin__pin-input {
  height: 62px;
  border-radius: 10px;
  border: #0a5064 solid 2px;
  background-color: #bae7f7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #0a5064;
}
.choose-pin__pin-input:active {
  background-color: #9adbf3;
}
.choose-pin__pin-input::placeholder {
  color: #0a5064;
  opacity: 50%;
  text-align: center;
  width: 100%;
}
.choose-pin__pin-input--confirm {
  height: 62px;
  border-radius: 10px;
  border: #0a5064 solid 2px;
  background-color: #bae7f7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #0a5064;
}
.choose-pin__pin-input--confirm:active {
  background-color: #9adbf3;
}
.choose-pin__pin-input--confirm::placeholder {
  color: #0a5064;
  opacity: 50%;
  text-align: center;
}
.pin-confirmed {
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f68c47;
  color: #e1f9ff;
  height: 55px;
  border-radius: 30px;
  line-height: 50.5px;
  width: 200;
}
/*This section is for the activate code screen*/
.code-answer {
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(40px);
  height: 200px;
  border-radius: 15px;
  margin: 2.5rem;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.2);
  border: white solid 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.code-answer__input {
  height: 62px;
  border-radius: 10px;
  border: #0a5064 solid 2px;
  background-color: #bae7f7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #0a5064;
}
.code-answer__input:active {
  background-color: #9adbf3;
} /*active state for the activation code*/
.code-answer__input::placeholder {
  color: #0a5064;
  opacity: 50%;
  text-align: center;
}
.code-answer__label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #0a5064;
  padding-top: 1rem;
  text-align: center;
}
.resend-code-btn {
  color: #0a5064;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-bottom: 15px;
  padding-top: 5px;
}
.resend-code-btn {
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f68c47;
  color: #e1f9ff;
  height: 35px;
  border-radius: 30px;
  line-height: 52px;
  width: 200;
}
.code-send {
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(40px);
  height: 275px;
  border-radius: 15px;
  margin: 2.5rem;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.2);
  border: white solid 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.code-send__label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #0a5064;
}
.code-send__checkbox-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #0a5064;
  text-align: center;
}
.tos {
  color: #0a5064;
}
.send-code-btn {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #e1f9ff;
  text-decoration: none;
  height: 55px;
  background-color: #f68c47;
  border-radius: 30px;
  text-align: center; /*helps centering the text inside the anchor button*/
  line-height: 50.5px;
}

@media only screen and (min-width: 600px) {
  /*This section is for the first log in screen*/
  body {
    background-image: url(images/pattern-tablet.png); /*Change to downloaded png from Figma for the tablet size*/
  }
  .start-menu__link--blue {
    height: 80px;
  }
  .start-menu__link--clear {
    height: 80px;
  }
  .start-menu {
    height: 220;
    padding: 1rem;
  }
  .start-menu__logIn {
    font-size: 36px;
  }
  .start-menu__register {
    font-size: 36px;
  }
  /*This section is for the language navigation in the upper left corner*/
  .language-select {
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .language-select__globe {
    width: 40px;
    height: 40px;
  }
  .language-select__country {
    font-size: 36px;
  }
  .language-select__arrow-drop {
    width: 40px;
    height: 40px;
  }
  /*This section is for the log in with pin screen*/
  .code-send {
    padding: 1rem;
  }
  .log-in__phone-input {
    width: 600px;
    height: 80px;
  }
  .log-in__pin-input {
    width: 600px;
    height: 80px;
  }
  .log-in__btn-label {
    width: 572px;
    font-size: 30px;
  }
  .log-in__pin-forgot-label {
    font-size: 24px;
  }
  /*This section is for the send code screen*/
  .code-send__label {
    font-size: 30px;
  }
  .code-send__checkbox-container {
    font-size: 30px;
  }
  .send-code-btn {
    font-size: 30px;
    padding: 10px;
  }
  /*This section is for the activate code screen*/
  .code-answer__label {
    font-size: 30px;
  }
  .resend-code-btn {
    font-size: 25px;
    padding: 10px;
  }
  .code-answer {
    height: 220px;
  }
  /*This section is for the choose pin screen*/
  .choose-pin__label {
    font-size: 25px;
  }
  .pin-confirmed {
    font-size: 35px;
  }
}
@media only screen and (min-width: 900px) {
  /*This section is for the log in w pin screen*/
  body {
    background-image: url(images/pattern-tablet.png);
  }
  .log-in {
    width: 648px;
    height: 373px;
    margin-left: 10rem; /*Styling for the frosted background size to fit the figma design*/
  }
  .log-in__btn-label {
    width: 572px;
  }
  /*This section is for the code send screen*/
  .code-send {
    width: 648px;
    height: 373px;
    margin-left: 10rem;
  }
  .code-answer {
    width: 648px;
    margin-left: 10rem;
    padding-top: 1rem;
  }
  /*This section is for the choose pin screen*/
  .choose-pin {
    width: 648px;
    height: 320px;
    margin-left: 10rem;
  }
  .choose-pin__label {
    font-size: 32px;
  }
}
