.language-select {
  color: #12a0d6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.language-select__country {
  font-family: Arial, Helvetica, sans-serif;
}
.start-menu__logIn {
  font-family: Arial, Helvetica, sans-serif;
}
.start-menu__register {
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url(images/pattern-phone-two.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo {
    width: 300px;
    height: 50px;
    margin: 3.5rem;
    margin-top: 5.5rem;
  }
  .language-select {
    /*Default language selector for all phone screens*/
    color: #12a0d6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 0.5rem;
  }
  .start-menu {
    /*Creating the frosted background*/
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(40px);
    width: 330px;
    height: 156px;
    border-radius: 15px;
    margin: 2.5rem;
    box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.2);
    border: white solid 3px;
    /* display: flex;
    flex-direction: column; */
  }
  .start-menu__ul {
    text-decoration: none;
    list-style: none; /*Removes the bulletpoints of the UL*/
    display: grid; /* Grid for button gaps*/
    gap: 15px;
    margin-left: 1rem;
    padding: 0px;
  }
  .start-menu__link--blue {
    background-color: #1abbe7;
    width: 300px;
    height: 49px;
    border-radius: 10px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center; /*centres the text*/
    align-items: center;
  }
  .start-menu__link--clear {
    border: #0a5064 solid 2px;
    width: 300px;
    height: 49px;
    border-radius: 10px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center; /*Centres the text inside the link*/
    align-items: center;
  }
  .start-menu__logIn {
    text-decoration: none; /*Removes underline from links*/
    color: #e1f9ff;
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
  .start-menu__register {
    text-decoration: none; /*Removes underline from links*/
    color: #0a5064;
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
  .start-menu__link--blue:active {
    background-color: #13aad3;
  }
  .start-menu__link--clear:active {
    background-color: #1a7690;
    opacity: 20%;
  }
  .log-in {
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(40px);
    /* width: 330px;
    height: 275px; */
    border-radius: 15px;
    margin: 2.5rem;
    box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.2);
    border: white solid 3px;
    padding: 0px;
    display: flex;
  }
  .log-in__phone-input {
    /*Den default input styling*/
    width: 300px;
    height: 62px;
    border-radius: 10px;
    border: #0a5064 solid 2px;
    background-color: #bae7f7; /*background colour is changed from figma design, as the opacity affects the border as well*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #0a5064;
  }
  .log-in__pin-input {
    width: 300px;
    height: 62px;
    border-radius: 10px;
    border: #0a5064 solid 2px;
    background-color: #bae7f7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #0a5064;
  }
  .log-in-btn {
    text-decoration: none;
    width: 300px;
    height: 55px;
    background-color: #f68c47;
    border-radius: 30px;
    display: flex;
    align-content: center;
    justify-content: center; /*centres the text*/
    align-items: center;
  }
  .log-in-btn__label {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #e1f9ff;
  }
  .pin-forgot {
    color: #0a5064;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
}
